<!DOCTYPE html>
<html ng-app="ngAddApp" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>pinpoint by Raymond Xu</title>
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg4o4sd4NGWgrBFKmNTT90SYPfHl5KniI"></script>
</head>

<header>
	<center><div class="container"><a href="index.html"><div class="titlebutton title">pinpoint</div></a></div></center>
</header>


<body ng-controller="MainCtrl">
	<div class="container">
		<div class="row">

			<div class="col-md-6 addressforms">
				<div ng-repeat="item in items1">
					<div class="form-group">
    					<input type="text" class="form-control medform" placeholder="Enter a starting address" ng-model="item.text">
  					</div>
  				</div>
  				<button type="button" class="btn btn-block btn btn-info medbutton" ng-click="newItem1()">+</button>

			</div>

			<div class="col-md-6 addressforms">
				<div ng-repeat="item in items2">
					<div class="form-group">
    					<input type="text" class="form-control medform" placeholder="Enter a destination" ng-model="item.text">
  					</div>
  				</div>
  				<button type="button" class="btn btn-block btn btn-info medbutton" ng-click="newItem2()">+</button>

			</div>
		</div>

		<a href="#map-canvas"><button type="submit" class="btn btn-block btn btn-success tallbutton" ng-click="go();">GO</button></a>

	</div>


<!--
	-improve optimization calculation to compare distances from each origin to the centroid which is calculated by averaging all origin coordinates

	-get footer spacing working
	-vertical center "+ buttons"
	-delete input boxes
-->

	<div class="container"
		<div id="map-canvas"></div><br>
    	<div id="outputDiv"></div><br>
    </div>
    

    <div class="row">
		<div class="container">
			<div class="spacer"></div>
		</div>
	</div>

</body>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/pinpointapp.js"></script>



</html>