body {
  background: #AAC3F0;
  color: #eee;
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

button, .button {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
  button.large, .button.large {
    padding-top: 0.3rem;
    padding-right: 1.2rem;
    padding-bottom: 0.3rem;
    padding-left: 1.2rem; }

.top-bar-section ul li > a {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.panel {
  margin-bottom: 0.5rem;
  padding: 1.2rem; }
  .panel.callout {
    margin-left:0.5rem;
    margin-right: 0.5rem; }
    .panel.callout > :first-child {
      padding: inherit; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.tabs dd > a, .tabs .tab-title > a {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.side-nav {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
  .side-nav li.active > a:first-child:not(.button) {
    font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.accordion .accordion-navigation > a, .accordion dd > a {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.sub-nav li {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.label {
  font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
