//
	backbone.jade defines the backbone of the website.
	The head and script declarations are all in here.
	All pages should extend backbone in some fashion.

doctype html
html(ng-app='ngAddApp', lang='en')
	head.no-js
		title= "eTest"
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.css')
		link(rel='stylesheet', href='css/custom.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,100,600', rel='stylesheet', type='text/css')
		link(rel='icon', type='image/png', href='/img/favicon.png')
	body(ng-controller='MainCtrl')
		block bodyContent
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/modernizr.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/jquery.js')
		script(src='//code.jquery.com/ui/1.11.0/jquery-ui.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js')
		script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
		script(src='js/questions.js')
		script(src='js/button.js')
		script(src='js/newtest.js')
		//- script(src='teacherTestSubmission.js')
		script
			$(document).foundation();
</script>
