extends layout

block pageTitle
  h1= appname

block pageContent
  nav.top-bar(data-topbar='data-topbar')
    ul.title-area
      li.name
        h1
          a(href='#') #{appname}
      //
         Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      //
         Right Nav Section
      ul.right
        li.active
          a.medium.radius.button(href='#') Add a Test
        li.divider
        li.active
          a.medium.radius.button(href='#', data-reveal-id='firstModal') View All Tests
        #firstModal.reveal-modal(style='position: absolute; float: left;', data-reveal='data-reveal')
          .row
            .large-12.columns
              h2 View All Tests
          .row
            .large-12.columns
              ul.clearing-thumbs.small-block-grid-4(data-clearing='data-clearing')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 1', src='img/folderpic.jpg')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 2', src='img/folderpic.jpg')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 3', src='img/folderpic.jpg')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 4', src='img/folderpic.jpg')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 1', src='img/folderpic.jpg')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 2', src='img/folderpic.jpg')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 3', src='img/folderpic.jpg')
                li
                  a(href='img/folderpic.jpg')
                    img(data-caption='File 4', src='img/folderpic.jpg')
          a.close-reveal-modal ×
        li.has-dropdown
          a(href='#') Login/Logout
          ul.dropdown
            li
              a(href='#') First link in dropdown
      //
         Left Nav Section
      ul.left
        li.active
          a(href='#') Home
        li.divider
        li.has-form
          .row.collapse
            .large-8.columns
              input(type='text', placeholder='Search...')
            .large-4.columns
              a.alert.button.expand(href='#') Search
  br
  br
  .row
    .large-12.columns
      h1 Dashboard
  .row
    .large-12.columns
      .panel
        .row
          .callout.panel
            .row
              .large-3.columns
                center
                  h4 Question Type
                select
                  option(value='sa') Short Answer
                  option(value='mc') Multiple Choice
                  option(value='matching') Matching
                  option(value='fuck') Other
              .large-7.columns
                center
                  h4 Question Info
                .row
                  .large-12.columns
                    .row.collapse
                      .small-2.columns
                        span.prefix Question:
                      .small-10.columns
                        input(type='text', placeholder='e.g. How big is China...?')
                .row
                  .large-12.columns
                    .row.collapse
                      .small-2.columns
                        span.prefix Answer:
                      .small-10.columns
                        input(type='text', placeholder='e.g. Very Small... (Seperate Multiple Answers with Commas)')
              .large-2.columns
                .row
                  .large-12.columns
                    a
                      h4(stlye='float:right;', align='right')
                        font(color='F21111') &times;
                    .row.collapse
                      .small-5.columns
                        span.prefix Worth
                      .small-4.columns
                        input(type='text', placeholder='')
                      .small-3.columns
                        span.postfix Pts.
        .row
          .callout.panel
            .row
              .large-3.columns
                center
                  h4 Question Type
                select
                  option(value='mc') Multiple Choice
                  option(value='sa') Short Answer
                  option(value='matching') Matching
                  option(value='fuck') Other
              .large-7.columns
                center
                  h4 Question Info
                .row
                  .large-12.columns
                    .row.collapse
                      .small-2.columns
                        span.prefix Question:
                      .small-10.columns
                        input(type='text', placeholder='e.g. How big is China...?')
                .row
                  .large-12.columns
                    .row.collapse
                      .small-2.columns
                        br
                        center
                          h6 # Answer Choices
                        select
                          option(value='two') 2
                          option(value='three') 3
                          option(value='four') 4
                          option(value='five') 5
                        center
                          h6 Correct Answer
                        select
                          option(value='a') A
                          option(value='b') B
                          option(value='c') C
                          option(value='d') D
                      .small-9.columns
                        .row
                          .large-12.columns
                            .row.collapse
                              .small-2.columns
                                span.prefix A:
                              .small-10.columns
                                input(type='text', placeholder='Apple')
                        .row
                          .large-12.columns
                            .row.collapse
                              .small-2.columns
                                span.prefix B:
                              .small-10.columns
                                input(type='text', placeholder='Banana')
                        .row
                          .large-12.columns
                            .row.collapse
                              .small-2.columns
                                span.prefix C:
                              .small-10.columns
                                input(type='text', placeholder='Carrot')
                        .row
                          .large-12.columns
                            .row.collapse
                              .small-2.columns
                                span.prefix D:
                              .small-10.columns
                                input(type='text', placeholder='Dick')
              .large-2.columns
                a
                  h4(stlye='float:right;', align='right')
                    font(color='F21111') &times;
                .row
                  br
                  br
                  .large-12.columns
                    center
                      input#checkbox1(type='checkbox')
                      label(for='random') Randomize?
                  .large-12.columns
                    .row.collapse
                      .small-5.columns
                        span.prefix Worth
                      .small-4.columns
                        input(type='text', placeholder='')
                      .small-3.columns
                        span.postfix Pts.
          br
        center
          a.large.radius.button(href='#') Add Question
