extends layout

block pageTitle
    .jumbotron
        h1 INSVRT NAME HERE
        h2 INSVRT NAME HERE is an innovative new platofrm that allows teachers and students to testing testing for a revolutionry education for Amurica and blah blah.
