//Layout.jade defines the layout of the website. It contains the navbar and
//extension views will populate pageTitle and pageContent blocks

doctype html
html
  head.no-js(lang='en')
    title= "INSERT NAME HERE"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/slick.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/modernizr.js')
    link(href='http://fonts.googleapis.com/css?family=Oswald:500,300', rel='stylesheet', type='text/css')
  body
    block navBar
        nav(class='navbar navbar-default', role='navigation')
            .container-fluid
                .navbar-header
                    button(class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sronly
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(class='navbar-brand', href='/#') Home
                #bs-example-navbar-collapse-1(class='collapse navbar-collapse')
                    ul(class='nav navbar-nav')
                        li
                          a(href='/home') Teacher Portal
                        li
                          a(href='/home/test') Shh! Testing in Progress
                        li
                          a(href='/home/results') Test Results

    //These are populated by extension views
    block pageTitle
    block pageContent
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/jquery.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js')
    script
      $(document).foundation();
