extends backbone

block bodyContent
	block navBar
		.fixed
			nav.top-bar(data-topbar='data-topbar')
				ul.title-area
					li.name
						h1
							a(href='#') eTest
					//
						 Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
					li.toggle-topbar.menu-icon
						a(href='#')
							span Menu
				section.top-bar-section
					ul.right
						block rightBar
						li.has-dropdown
							a(href='#') Logout
							ul.dropdown
								li
									a(href='#') First link in dropdown
					//
						 Left Nav Section
					ul.left
						li.active
							a(href='/') Home
						li
							a(href='/newtest') Portal
						li.divider
						li.has-form
							.row.collapse
								.large-8.columns
									input(type='text', placeholder='Search...' style='height:2.098rem')
								.large-4.columns
									a.alert.button.expand(href='#') Search
		br
		br

	//These are populated by extension views
	block pageTitle
	block pageContent
	.space
