body {
	background: #AAC3F0;
	color: #eee;
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

button, .button {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
	button.large, .button.large {
		padding-top: 0.3rem;
		padding-right: 1.2rem;
		padding-bottom: 0.3rem;
		padding-left: 1.2rem; }

.top-bar-section ul li > a {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.panel {
	margin-bottom: 0.5rem;
	padding: 1.2rem; }
	.panel.callout {
		margin-left:0.5rem;
		margin-right: 0.5rem; }
		.panel.callout > :first-child {
			padding: inherit; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.tabs dd > a, .tabs .tab-title > a {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.side-nav {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
	.side-nav li.active > a:first-child:not(.button) {
		font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.accordion .accordion-navigation > a, .accordion dd > a {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.sub-nav li {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.label {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

input[type="submit"] {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1.0625rem;
	padding-left: 2rem;
	font-size: 1rem;
	background-color: #61B359;
	border-color: #007095;
	color: white;
	border-radius: 3px;
	width: 100%; }

li.btnSpacer {
	padding-left: 5px;
	padding-right: 5px;
	background: #333;
	border-right: 0px; }

a.navBtn {
	top: 5.5px; }

#firstModal.reveal-modal {
	position: absolute;
	float: left; }

h1.title {
	padding-top: 40px; }

.space {
	padding: 20px; }
