<div ng-repeat="question in question">
  <div class="form-group">
    <div class="row">
       <div class="callout panel">
        <div class="row">
          <div class="large-3 columns">
            <center>
              <h4>Question Type</h4>
            </center>
            <select class="question-type">
              <option value="mtpl">Multiple Choice</option>
              <option value="shrt" selected>Short Answer</option>
              <option value="mtch">Matching</option>
              <option value="othr">Other</option>
            </select>
          </div>
          <div class="large-7 columns">
            <center>
              <h4>Question Info</h4>
            </center>
            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse">
                  <div class="small-2 columns"><span class="prefix">Question:</span></div>
                  <div class="small-10 columns">
                    <input name="question" type="text" placeholder="e.g. How big is China...?">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse">
                  <div class="small-2 columns"><span class="prefix">Answer:</span></div>
                  <div class="small-10 columns">
                    <h1>Screw this!<br><br>(╯°□°）╯︵ ┻━┻)<br><br>ᕙ༼ຈل͜ຈ༽ᕗ</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="large-2 columns">
            <div class="row">
              <div class="large-12 columns"><a>
                  <h4 stlye="float:right;" align="right"><font color="F21111">&times;</font></h4></a>
                <div class="row collapse">
                  <div class="small-5 columns"><span class="prefix">Worth</span></div>
                  <div class="small-4 columns">
                    <input name="points" type="text" placeholder="">
                  </div>
                  <div class="small-3 columns"><span class="postfix">Pts.</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
